.App{
    max-width: 1500px;
    margin: auto;
    padding-top: 2vh;
    height: max-content;

    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.TopImageArea{
    width: 70vw;
    height: 70vw;
    max-width: 400px;
    max-height: 400px;
    margin:auto;
    top: 10vh;
}

.TitleArea{
    width: 100%;
    height: auto;
    text-align: center;

    margin-top: 20px;
}

.MainTitle{
    font-size: 1.2em;
    font-weight: bolder;

    text-align: center;
}

.SubTitle{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
    margin-top: 0.6em;
}

.InfoArea{
    width: 90%;
    margin-left: 4vw;
    text-align: left;

    padding: 10px 3px;

    border-radius: 10px;
    /* background-color: rgb(238, 238, 238); */
}
ul{
    padding-left: 20px;
}
.InfoList{
    line-height: 1.4em;
    text-align: center;
    word-break: keep-all;
}

.PlusMinusArea{
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: 15px;

    /* background-color: rgba(250, 235, 215, 0.618); */
}

#PlusTitle{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}

#MinusTitle{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 5px;
}

.PlusMinusList{
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin-top: 5px;
}

.SimilarOppositeArea{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25vh;
    height: fit-content;

    margin-top: 25px;

    
}

#SimilarArea{
    width: 45%;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    
    box-shadow: 2px 2px 5px rgba(0,0,0,0.06), -2px -2px 5px rgba(0,0,0,0.06);
}

#OppositeArea{
    width: 45%;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    
    box-shadow: 2px 2px 5px rgba(0,0,0,0.06), -2px -2px 5px rgba(0,0,0,0.06);
}

.SimilarOppositeTitle{
    width: 95%;
    color: #000;
    padding: 5px 10px;

    font-size: 1.1em;
    font-weight: bolder;
}

.SimilarOppositeImgArea{
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 20%;
}
.SimilarImg1{
    padding-bottom: 15%;
    width: 45%;
    height: 45%;
    cursor: pointer;
}
.SimilarImg2{
    padding-top: 15%;
    width: 45%;
    height: 45%;
    cursor: pointer;
}
.SimilarImgOnly{
    width: 60%;
    height: 60%;
    cursor: pointer;
}

.SimilarOppositeContent{
    text-align: center;
}

.FullMythStory{
    position: absolute;
    width: 95vw;
    margin-left: 2.5vw;
    padding-bottom: 5vh;

    cursor: pointer;
    
    margin-top: 3vh;
       
    background-color: #f2f2f2;
    color: rgb(10, 10, 10);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    animation-name: mobileJumper;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.BrowserFullMythStory{
    position: absolute;
    width: 60vw;
    padding-bottom: 5vh;
    
    cursor: pointer;

    margin-top: 5vh;
       
    background-color: #F2F2f2;
    color: rgb(28, 28, 28);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;

    animation-name: browserJumper;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.FullStoryTitle{
    width: 100%;
    line-height: 1.3em;
    height: max-content;
    text-align: center;
    font-size: bolder;
}

.InnerStory{
    margin-top: 2vh;
    line-height: 1.6em;
    display: none;
    text-align: left;
    word-break: keep-all;

    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.1em;
    z-index: 999;
}

.BrowserInnerStory{
    min-height: 100vh;
    margin-top: 2vh;
    line-height: 1.6em;
    display: none;
    text-align: left;
    word-break: keep-all;

    font-size: 1.1em;
    z-index: 999;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes browserJumper {
    from {
        margin-top: 5vh;
    }
    20% {
        margin-top: 6vh;
    }
    30% {
        margin-top: 5vh;
    }
    50% {
        margin-top: 6vh;
    }
    60% {
        margin-top: 5vh;
    }
    80% {
        margin-top: 6vh;
    }
    to {
        margin-top: 5vh;
    }
  }

  @keyframes mobileJumper {
    from {
        margin-top: 3vh;
    }
    20% {
        margin-top: 4vh;
    }
    30% {
        margin-top: 3vh;
    }
    50% {
        margin-top: 4vh;
    }
    60% {
        margin-top: 3vh;
    }
    80% {
        margin-top: 4vh;
    }
    to {
        margin-top: 3vh;
    }
  }